.cont_propio {
    margin-top: 8%;
    background-color: beige;
    max-width: 50%;
    justify-content: center;
    border-radius: 5px;
}


/* .input_tam{
    max-width: 50%;
    text-align: center;
} */

.tamano_form{
    justify-content: center;
    max-width: 60%;
    align-items: center; 
    text-align: center;
    margin: auto;
}

.botun{
    margin-top: 2%;
}

/* .tamano_row{
    width: 100%;
}
 */