@import "./colores.scss";
@import "./mixins.scss";


.display-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.abs-center {    
    margin-top: 20vh;    
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;  
    
  }

.botonNaranja{
      @include colorBoton(white,$color4);
      
  }
  

  .contenedor-login{
      max-width: 40vw;
      height: auto;
      background-color: white;
      padding: 10px;      
      border: 1px solid $color3;
      text-align: center;
      
  }

.logotipo-naranja{
    @include colorLogotipo($color3);
}

.texto-naranja{
    color:$color2;
}

.texto-amarillo{
    color:$color1;
}

