@mixin colorBoton($colorTexto, $colorFondo){
    background-color: $colorFondo;
    color: $colorTexto;    
    
}

@mixin colorLogotipo ($color) {
    font-family: 'Caesar Dressing', cursive;
    color: $color;
}