@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.navbarNP{
    position: fixed;
    z-index: 100;
    justify-content: end !important
    
}

.bgNP{
    background-color: #f2b90fb6;
    height: 60px;
}