@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.navbarNP{
    justify-content: end !important
}

.bgNP{
    background-color: #d9670457;
    height: 60px;
}