.tabla_usuarios{
    background-color: rgba(230, 230, 250, 0.842);
    position: inherit;
    z-index: 100;
    margin-left: 65px;
    border-radius: 1.5rem;
    margin-top: 90px;
}

td{
    font-size: 15px;
}



